.app {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 300px;
  border-radius: 3px;
  border: 1px solid black;
}
.app__controls {
  display: flex;
  justify-content: space-between;
}
.break__lenght, .session__lenght {
  width: fit-content;
}
.break__lenght__io, .session__lenght__io {
  display:  flex;
  justify-content: center;
}